/logs/
*.log
/.idea/
/local/
/saves/
/rhino.local.properties
/natives-windows-x86_64/
/modernfix/
usercache.json
usernamecache.json
/assets/indexes
/assets/objects
launcher_profiles.json
/libraries
/versions
/assets/skins
config/embeddium-options.json
config/embeddium-fingerprint.json
config/fml.toml
config/modernfix-mixins.properties
config/oculus.properties
config/sodium-extra-options.json
options.txt
/resourcepacks
/shaderpacks
/XaeroWaypoints
/XaeroWorldMap
