/logs/
*.log
/.idea/
/local/
/saves/
/rhino.local.properties
/natives-windows-x86_64/
/modernfix/
usercache.json
usernamecache.json
/assets/indexes
/assets/objects
launcher_profiles.json
/libraries
/versions
