/logs/
*.log
/.idea/
/local/
/saves/
/rhino.local.properties
/natives-windows-x86_64/
/modernfix/
usercache.json
usernamecache.json
/assets/indexes
/assets/objects
launcher_profiles.json
/versions
/assets/skins
config/embeddium-options.json
config/embeddium-fingerprint.json
config/fml.toml
config/modernfix-mixins.properties
config/oculus.properties
config/sodium-extra-options.json
/resourcepacks
/shaderpacks
/XaeroWaypoints
/XaeroWorldMap
options.txt
/XaeroWaypoints_BACKUP*
config/enchdesc.json
config/jade/sort-order.json
config/xaerominimap_entities.json
config/ambientsounds-client.json
patchouli_data.json
/crash-reports
config/xaerominimap.txt
/screenshots
/debug
/.mixin.out
config/everycomp-hazardous.properties
/config/sound_physics_remastered
.$caotu.drawio.bkp
route.drawio
/config/jei/world
/fancymenu_data
/config/konkrete/locals
config/jei/ingredient-list-mod-sort-order.ini
config/attributefix.json
config/terrablender.toml
config/immediatelyfast.json
config/modernfix-mixins.properties
/config/spark
hmclversion.cfg
servers.dat
servers.dat_old
config/smoothboot.json
mods/worldedit-mod-7.2.15.jar
config/worldedit/worldedit.properties
/config/worldedit
config/lsp.json

.vscode
Path-of-Truth.jar
Path-of-Truth.json
ARandomPack.json
ARandomPack.jar
launch.ps1
mods/panoramica_forge_1.2.1_MC_1.19-1.19.2.jar

/world
/crash-reports
authlib-injector.log
ops.json
usercache.json
usernamecache.json
whitelist.json
/logs
start-screen.sh
run-yc.sh
server.properties
banned-ips.json
banned-players.json
/backups
/simplebackups
mods/worldedit-mod-7.2.15.jar.disabled
knownkeys.txt
schematics/uploaded
mods/battlemusic-1.20.1-1.0.1.jar
/simplebackups
/libraries
hmclversion.cfg
/config/fancymenu/ui_themes
/config/otyacraftengine
kubejs/config/probejs.json
/ESM
/config/nucleus
config/jei/jei-client.ini
/xaero
config/fabric/indigo-renderer.properties
config/sounds/chat.json
config/embeddium++.toml
